.section{
    font-family: "Montserrat", sans-serif;
    margin: 100px 0;
}

.header{
    /* color: #04E762; */
    color: white;
    text-align: center;
    font-size: 3rem;

}
.hightlight{
    color: #04E762;
}
.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    gap: 50px;
}