.section {
    color: aliceblue;
    font-family:  "Montserrat", sans-serif;
}
.container{
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}