
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');


.careersSpan{
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
    color: #04E762;
    margin: 0;
    height: 50px;

}
.section{
    /* padding: 50px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px; */

    display: grid;
    grid-template-columns:2fr 1fr ;
    width: 100%;
    place-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 50px 0;
    
}

.careers{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: white;
    font-size: 2rem;
    margin: 0 20px;
    padding: 10px 0;    
    text-align: center;
}
.image{
    width: 70%;
    margin: 0 auto;
    border-radius: 50%;
}
.textContainer{
    color: white;
    width: 90%;
    margin: 0 50px;
    
}
.colors{
    color:#04E762;
}
.greetings{
    font-size: 3.5rem;
    margin: 0;
}
.name{
    font-size: 5rem;
    margin: 0;
}

.cursor {
    display: inline-block;
    width: 5px;
    background-color: white;
    margin-left: 3px;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.imageContainer{
    width: 100%;
    
}
.careerContainer{
    display: grid;
    grid-template-columns: fit-content 1fr;
    gap: 10px;
}

@media (max-width:1280px){
    .section{
        grid-template-columns: 1fr; /* Change to a single column layout */
        grid-template-rows: auto; /* Let rows adjust automatically */
        text-align: center; /* Center content */
    }
    .image {
        width: 50%; /* Reduce image size for smaller screens */
    }

    .textContainer {
        width: 100%; /* Make text container take full width */
        margin: 0 auto;
    }
    .careersSpan {
        font-size: 2rem; /* Decrease from 2.5rem */
        margin-bottom: 60px;

        
    }

    .careers {
        font-size: 1.5rem; /* Reduce slightly */
    }

    .greetings {
        font-size: 2.5rem; /* Reduce from 3.5rem */
    }

    .name {
        font-size: 4rem; /* Reduce from 5rem */
    }
}