.section{
    color: white;
    font-family: "Montserrat", sans-serif;
    margin:  100px 0;
}
.header{
    color: white;
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
    
}
.highlight{
    color: #04E762;
}
.mainContainer{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 2fr 1fr
    ;
    place-content: center;
    place-items: center;

}
.textContainer{
    width: 80%;
    text-align: center;
    margin: 0 50px;
    font-size: 1.5rem;
}
.Image{
    width: 100%;
    
}
.imgContainer{
    
    width: 100%;
    margin: 0 auto;
}

@media (max-width:1280px){
    .mainContainer{
        grid-template-columns: 1fr;
        
    }
    .imgContainer{
        width: 50%;
    }
}